[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
